<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
    <head>
        <title>{%- block title -%}{%- endblock -%}</title>
        <!-- Bootstrap -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="/static/css/site.css" rel="stylesheet" media="screen">
        <script src="/static/js/jquery.min.js"></script>
        <!-- <script src="/static/js/bootstrap.min.js"></script> -->
        {%- block head -%}
        {%- endblock -%}

        <!-- Standard meta -->
        <meta charset="utf-8"/> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{%- block meta_description -%}Page meta description.{%- endblock -%}">

        <!-- OpenGraph meta -->
        <meta property="og:title" content="{% block og_title %}{{ self.title() }}{% endblock %}"/>
        <meta property="og:type" content="website">
        <meta property="og:description" content="{% block og_description %}Page OpenGraph description.{% endblock %}">    
        <meta property="og:image" content="{% block og_image %}{% endblock %}" />
    </head>
    <body>
        <div class="container">
            <header class="logo">
                <a href="{{ url_for('default.status') }}">
                    
                </a>
            </header>
            <div class="pane-title">
                {%- block pane_title -%}
                {%- endblock -%}
            </div>
            <div class="pane-content">
                {% include('shared/_flash_messages.html') %}
                {%- block content -%}
                {%- endblock -%}
            </div>
            <div class="settings-navigation">
                <ul>
                    <li><a href="{{ url_for('default.status') }}">Status</a></li>
                    <li><a href="{{ url_for('default.airplay') }}">AirPlay</a></li>
                    <li><a href="{{ url_for('default.bluetooth') }}">Bluetooth</a></li>
                    <li><a href="{{ url_for('default.lossless') }}">Lossless Playback</a></li>
                    <li><a href="{{ url_for('default.advanced') }}">Advanced</a></li>
                </ul>
            </div>
            <footer>
                &copy; 2013 Drew Lustro
            </footer>
        </div>
    </body>
  </html>