{% if not hide_banners %}
    {% if session['reboot_required'] and session['reboot_required']|length > 0 %}
    <div class="alert alert-info margin-bottom-20">
        <div class="margin-bottom-10">
            <h4>Reboot Required</h4>
            <div class="clearfix"></div>
        </div>

        Recent changes to the following services require a device reboot to take effect:
        <div class="padding-20 clearfix">
            {% for service in session['reboot_required'] %}
                {% if service == 'audio' %}
                    <span class="label label-inverse">Linux Audio Subsystem</span>
                {% elif service == 'shairport' %}
                    <span class="label label-inverse">Shairport AirPlay Service</span>
                {% endif %}
            {% endfor %}
        </div>
        <a class="btn btn-block" href="{{ url_for('default.reboot') }}">Reboot Device</a>
        
    </div>
    {% endif %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div id="flash-messages">
                <div class="alert">
                    <button class="close">&times;</button>
                    {% for message in messages %}
                        <div class="clearfix">{{ message|safe }}</div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endwith %}
{% endif %}