body {
    font: 82.5%/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #bbb;
    margin: 0;
    padding: 0;
    background: #111;
    /* background: #000 url(/static/img/binding_dark.png) repeat top left; */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/* MAJOR LAYOUT */

header.logo {
    background: #0b0b0b url(/static/img/mister-audio-icon@2x.png) no-repeat center center;
    text-align: center;
    background-size: 75px 75px;
    height: 100px;
}

header.logo a {
    display: block;
    width: 100%;
    height: 100%;
}

footer {
    background-color: #000;
    text-align: center;   
    padding: 20px;
}

a {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.pane-title {
    text-align: left;
    padding: 1em 2em;
    color: #aaa;
    background: #333;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 2px solid #555;

}


.pane-content > aside {
    margin: 1em;
    padding: 2em;
    color: #111;
    background-color: rgba(255,255,255,.8);
    text-align: left;
}

/* NAVIGATION */

.settings-navigation > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.settings-navigation li a {
    display: block;
    padding: 2em;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    background: #222;
    color: #ecf0f1;
    text-transform: uppercase;
    border-top: 1px solid #555;
    border-bottom: 1px solid #000;
    text-decoration: none
}

.settings-navigation li:first-child {
    
}

.settings-navigation li:last-child {
    border-bottom: none;
}

/* BUTTON LISTS */
.list-reset ul,
ul.list-reset {
    list-style: none;
    padding: 0;
    margin: 0;
}

.btn-list {
    display: block;
    padding: 1em;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
    background: #333;
    color: #bdc3c7;
    border-bottom: 1px solid #000; 
}

.btn-list:hover {
    color: #fff;
    background: #444;
    text-decoration: none;
}

.btn-list.active {
    color: #2c3e50;
    background: #ecf0f1;
    padding-left: 2em;
}

.btn-list-primary {
    background: #111;
    color: #ecf0f1;
}


.btn-list-group {
    opacity: .8;
    background-color: #16a085;
    font-size: 1.2em;
    color: #c8fff4;
    text-transform: uppercase;
    border-bottom: 1px solid #2ecc71;
    
}

.btn-list-group.active {
    opacity: 1;
    background: #2ecc71;
    color: #c2fada;
    text-shadow: 0 1px 0 #09592b;
    text-align: left;
    padding-left: 1em;
    border-top: 1px solid #8beeb5;
}

.btn-list-group:hover {
    background: #2cc6a8;
}

.song-list {
    display: none;
}

/* FORMS */

form {
    margin-bottom: 0;
}

/* BOOTSTRAP OVERRIDES */

.progress {
  background: #000;
  border: 1px solid #444;
}

.btn {
    border-radius: 0;
    background-image: none;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: bold;
    text-shadow: none;
    line-height: 2.1em;
}

.btn-save {
    background-color: #3498db;
    color: #fff;
    border-bottom: 1px solid #000;
}

.btn-save:hover,
.btn-save:active {
    background-color: #111;
    color: #ddd;
    border-top: 1px solid #000;
}

.btn-stop {
    background-color: #c0392b;
    color: #fff;
    border-bottom: 1px solid #000;
}

.btn-stop:hover,
.btn-stop:active {
    background-color: #111;
    color: #ddd;
    border-top: 1px solid #000;
}

/* HiDPI */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
 
  /* Retina replacement CSS here */
    header.logo {
        background: #0b0b0b url(/static/img/mister-audio-icon@2x.png) no-repeat center center;
        background-size: 75px 75px;
        height: 100px;
    }
}



/* SERVICES (old) */
.services li {
    box-sizing: border-box;
}


.level-1,
.services li.level-1 {
  padding-left: 11px;
}

.level-2,
.services li.level-2 {
  padding-left: 22px;
}

.services li.header {
  margin-bottom: 0;
}

.services li.hr-single {
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 13px;
  padding-top: 5px;
  height: 7px;
}

.services li.hr-double {
  border-bottom: 3px double #eaeaea;
  margin-bottom: 6px;
  padding-top: 25px;
  height: 1px;
}

.damon-bar-nav li {
    line-height: 80px;
    border-right: 1px solid #333;
    padding:    0px 20px;
}

.damon-bar-nav li:last-child {
    border-right: none;
}

.system-output {
    font-family: "Monaco", "Courier New", Courier, monspace;
    font-size: 10px;
    background: #0f0f0f;
    color: #01ce28;
    padding: 12px 20px 14px;
    border: 1px solid #444;
}

/**********************************
*** TO DELETE SOON... 
**********************************/
/* Misc */
.blue, a.blue {
  color: #2da2cc; }

.black, a.black {
  color: #2b2b2b; }

a.black:hover {
  color: #4b4b4b; }

.red, a.red {
  color: #dd4516; }

a.red:hover {
  color: #b73912; }

.white, a.white {
  color: #f6f6f6; }

a.white:hover {
  color: white; }

.cursor-pointer {
  cursor: pointer; }

.no-float {
  float: none; }

.clear {
  clear: both; }

.border-top-light {
  border-top: 1px solid #dddddd; }

.bold {
  font-weight: bold; }

.text-bigger {
  font-size: 16px; }

.hr {
  display: block;
  border-bottom: 1px solid #e0e0e0; }

.caps {
  text-transform: uppercase; }

.block {
  display: block; }

.normal {
  font-weight: normal;
  font-style: normal; }

.weight-light {
  font-weight: 300; }


/* Alignment */
.vertical-top {
  vertical-align: top; }

.vertical-middle {
  vertical-align: middle; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.block-center {
  margin-left: auto;
  margin-right: auto; }

.inline-block {
  display: inline-block; }

/* Padding */
.padding-0 {
  padding: 0; }

.padding-5 {
  padding: 5px; }

.padding-20 {
  padding: 20px; }

.padding-10 {
  padding: 10px; }

.padding-left-5 {
  padding-right: 5px; }

.padding-right-5 {
  padding-right: 5px; }

.padding-top-5 {
  padding-top: 5px; }

.padding-bottom-5 {
  padding-bottom: 5px; }

.padding-top-10 {
  padding-top: 10px; }

.padding-bottom-10 {
  padding-bottom: 10px; }

.padding-left-10 {
  padding-left: 10px; }

.padding-right-10 {
  padding-right: 10px; }

.padding-top-20 {
  padding-top: 20px; }

.padding-left-20 {
  padding-left: 20px; }

.padding-right-20 {
  padding-right: 20px; }

.padding-bottom-20 {
  padding-bottom: 20px; }

.padding-top-30 {
  padding-top: 30px; }

.padding-left-30 {
  padding-left: 30px; }

.padding-right-30 {
  padding-right: 30px; }

.padding-bottom-30 {
  padding-bottom: 30px; }

/* 0 */
.margin-left-0 {
  margin-left: 0; }

.margin-right-0 {
  margin-right: 0; }

.margin-top-0 {
  margin-top: 0; }

.margin-bottom-0 {
  margin-bottom: 0; }

/* 5px */
.margin-left-5 {
  margin-left: 5px; }

.margin-right-5 {
  margin-right: 5px; }

.margin-top-5 {
  margin-top: 5px; }

.margin-bottom-5 {
  margin-bottom: 5px; }

/* 10px */
.margin-top-10 {
  margin-top: 10px; }

.margin-bottom-10 {
  margin-bottom: 10px; }

.margin-left-10 {
  margin-left: 10px; }

.margin-right-10 {
  margin-right: 10px; }

/* 20px */
.margin-0 {
  margin: 0; }

.margin-top-20 {
  margin-top: 20px; }

.margin-left-20 {
  margin-left: 20px; }

.margin-right-20 {
  margin-right: 20px; }

.margin-bottom-20 {
  margin-bottom: 20px; }

/* 30px */
.margin-top-30 {
  margin-top: 30px; }

.margin-left-30 {
  margin-left: 30px; }

.margin-right-30 {
  margin-right: 30px; }

.margin-bottom-30 {
  margin-bottom: 30px; }

  /* 40px */
.margin-top-40 {
  margin-top: 40px; }

.margin-left-40 {
  margin-left: 40px; }

.margin-right-40 {
  margin-right: 40px; }

.margin-bottom-40 {
  margin-bottom: 40px; }