{%- macro quick_form(form, action='', method='POST', submit='Submit') -%}
    <form method="{{ method }}" action="{{ action }}" class="form-vertical">
    {{ form.hidden_tag() }}
    <fieldset>
        <div class="">
            {% for field in form if not (field.type == 'HiddenField' or field.type == 'CSRFTokenField')%}
                <div class="control-group {{ 'error' if field.errors else '' }}">
                    <div class="controls">
                        {{ field(placeholder=field.name.capitalize(), class='input-large', id=field.name) }}
                        {% if field.errors %}
                        <span class="help-inline">
                            {% for error in field.errors %}
                            {{ error }}
                            {% endfor %}
                            <span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            {%- if next -%}
                <input type='hidden' name='next' value='{{ next }}' />
            {%- endif -%}
        </div>
        <div>
            <button type="submit" class="btn btn-primary">{{ submit }}</button>
        </div>
    </fieldset>
</form>
{%- endmacro -%}
