{%- extends "layouts/default.html" -%}

{%- block title -%}
    Advanced
{%- endblock -%}

{%- block pane_title -%}
    Advanced Options &amp; Diagnostics
{%- endblock -%}

{%- block content -%}
    <div class="margin-top-10 margin-bottom-10">
        <ul class="list-reset">
            <li>
                <a class="btn btn-list" href="{{ url_for('default.reboot') }}">
                    Software Update
                </a>
            </li>
            <li>
                <a class="btn btn-list" href="{{ url_for('default.reboot') }}">
                    MMDS Cloud Music Update
                </a>
            </li>
            <li>
                <a class="btn btn-list" href="{{ url_for('default.reboot') }}">
                    Restart Wireless Audio Services
                </a>
            </li>
            <li>
                <a class="btn btn-list" href="{{ url_for('default.reboot') }}">
                    Empty Playlist Queue
                </a>
            </li>
            <li>
                <a class="btn btn-list btn-stop" href="{{ url_for('default.reboot') }}">
                Restart Device
                </a>
            </li>
        </ul>
    </div>
{%- endblock -%}