{%- extends "layouts/default.html" -%}

{%- block title -%}
    Airplay
{%- endblock -%}

{%- block pane_title -%}
    Airplay
{%- endblock -%}

{%- block content -%}
    <form method="POST" action="{{ url_for('default.airplay') }}">
        <fieldset>
            <div class="device-options">
                <label for="speaker_name"><h5><i class="icon-music"></i>AirPlay Speaker Name</h5></label>
                <input type="text"
                        class="span4"
                        name="speaker_name"
                        placeholder="Enter a name..."
                        data-default="AirPlaySpeaker"
                        value="{{ 'speaker_name' | deploy_setting('shairport') }}" />
            </div>
            <div class="form-submit-buttons">
                <button type="submit" class="btn btn-save btn-block">Save</button>
            </div> 
            
        </fieldset>
    </form>
{%- endblock -%}