{%- extends "layouts/default.html" -%}

{%- block title -%}
    Bluetooth
{%- endblock -%}

{%- block pane_title -%}
    Bluetooth 4.0
{%- endblock -%}

{%- block content -%}
    <form method="POST" action="{{ url_for('default.bluetooth') }}">
        <fieldset>
            <div class="device-options">
                <label for="speaker_name"><h5><i class="icon-music"></i> Bluetooth Device Name</h5></label>
                <input type="text"
                        class="span4"
                        name="speaker_name"
                        placeholder="Enter a name..."
                        data-default="BluetoothSpeaker"
                        value="{{ 'speaker_name' | deploy_setting('bluetooth') }}" />
                <span class="help-block">Look to pair with this device over bluetooth.</span>
            </div>
            <div class="form-submit-buttons">
                <button type="submit" class="btn btn-save btn-block">Save</button>
            </div> 
            
        </fieldset>
    </form>
{%- endblock -%}