{%- extends "layouts/default.html" -%}

{%- block title -%}
    Dashboard
{%- endblock -%}

{%- block content -%}
    <h2>Device Services Dashboard</h2>
    <p>
        Welcome to the admin interface for your sexy new RasPi appliance!
    </p>
    <hr>
    {% include('shared/_flash_messages.html') %}
    <ul class="thumbnails services">
        <li class="span4">
            <h4>Shairport AirPlay Audio</h4>
            <hr>
            <form method="POST" action="{{ url_for('default.dashboard') }}">
                <fieldset>
                    
                    <input type="hidden" name="namespace" value="shairport" />

                    <div class="device-options">
                        <label for="speaker_name"><h5><i class="icon-music"></i> Speaker Name</h5></label>
                        <input type="text"
                                name="speaker_name"
                                placeholder="Enter a name..."
                                class="js-has-default"
                                data-default="AirPlaySpeaker"
                                value="{{ 'speaker_name' | deploy_setting('shairport') }}" />
                        <span class="help-block">Advertises this name over wi-fi.</span>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button class="js-set-default btn">Restore Default</button>
                    </div>
                </fieldset>
            </form>
        </li>
        <li class="span4">
            <h4>Audio Output Hardware</h4>
            <hr>
            <form method="POST" action="{{ url_for('default.dashboard') }}">
                <fieldset>
                    
                    <div class="device-options">
                        <input type="hidden" name="namespace" value="audio" />

                        <label for="device"><h5><i class="icon-volume-up"></i> Preferred Audio Device</h5></label>
                        <select name="device"
                                class="span4"
                                class="js-has-default"
                                multiple="multiple"
                                data-default="usbaudio">
                            <option value="usbaudio"{{ settings['audio:device'] | selected_on('usbaudio') }}>Hi-Fi USB Audio</option>
                            <option value="pulse"{{ settings['audio:device'] | selected_on('pulse') }}>3.5mm Audio Jack (RasPi PWM)</option>
                            <option value="original"{{ settings['audio:device'] | selected_on('original') }}>RasPi Factory Default</option>
                        </select>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Save*</button>
                    </div>
                </fieldset>
            </form>
        </li>

        <li class="span4">
            <h4>Bluetooth</h4>
            <hr>
            <form method="POST" action="{{ url_for('default.dashboard') }}">
                <fieldset>
                    <div class="device-options">
                        <input type="hidden" name="namespace" value="bluetooth" />

                        <label><h5><i class="icon-signal"></i> Antenna</h5></label>
                        <label class="checkbox" for="enabled">
                            <input type="checkbox" name="enabled" value="1" checked="checked" /> <i class="icon-bluetooth"></i> Enabled
                        </label>
                        
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </fieldset>
            </form>
        </li>

        <li class="span4">
            <h4>System Status</h4>
            <hr>
            <div>
                <b>SD Card Space</b>
                <div class="progress progress-info">
                    <div class="bar" style="width: {{ system_status_service.hdd_percent_consumed }};"></div>
                </div>
                Used: {{ (system_status_service.hdd_used / 1024) | format_number("{:,.2f}") }} MB
                ({{ system_status_service.hdd_percent_consumed }})
                <br />
                Free: {{ (system_status_service.hdd_free / 1024) | format_number("{:,.2f}") }} MB
                <br />
                Total: {{ (system_status_service.hdd_total / 1024 / 1024) | format_number("{:,.3f}") }} GB
            </div>
            <br />
            <div>
                <b>Memory</b>
                <div class="progress progress-warning">
                    <div class="bar" style="width: {{ (system_status_service.mem_used / system_status_service.mem_total * 100) }}%;"></div>
                </div>
                Used: {{ (system_status_service.mem_used / 1024) | format_number("{:,.3f}") }} MB
                ({{ (system_status_service.mem_used / system_status_service.mem_total * 100) | format_number("{:,.1f}") }}%)
                <br />
                Free: {{ (system_status_service.mem_free / 1024) | format_number("{:,.3f}") }} MB
                <br />
                Total: {{ (system_status_service.mem_total / 1024) | format_number("{:,.3f}") }} MB
            </div>
            

        </li>
    </ul>

    <script type="text/javascript">
        $(document).on('ready', function() {
            $('.js-set-default').on('click', function(event) {
                event.preventDefault();
                event.stopPropagation();

                var inputs = $(this).closest('form').find('input.js-has-default');
                $.each(inputs, function (index, e) {
                    $(e).attr('value', $(e).attr('data-default'));
                });
            });
        });
    </script>

{%- endblock -%}