{%- extends "layouts/default.html" -%}

{%- block title -%}
    Mister Audio - Reboot Confirmation
{%- endblock -%}

{%- block pane_title -%}
    Reboot Device
{% endblock %}

{%- block content -%}
    <h4>Are you sure you want to reboot?</h4>
    <div class="well">
        The device shouldn't take more than 15 seconds to come back online.
    </div>
    <form class="clearfix" method="POST" action="{{ url_for('default.reboot') }}">
        <fieldset>
            <div class="margin-top-10 margin-bottom-10">
                <ul class="list-reset">
                    <li>
                        <a href="{{ url_for('default.advanced') }}" class="btn btn-list">No, Go Back</a>
                    </li>
                    <li>
                        <button type="submit" class="btn btn-list btn-block btn-stop" name="reboot" value="1">Yes, Reboot Now</button>
                    </li>
                </ul>
            </div>
        </fieldset>
    </form>
    
{%- endblock -%}