{%- extends "layouts/default.html" -%}

{%- block title -%}
    Reboot Confirmation
{%- endblock -%}

{%- block pane_title -%}
    Reboot Device
{% endblock %}

{%- block content -%}
    <h4>Are you sure you want to reboot?</h4>
    <div class="well">
        The device shouldn't take more than 15 seconds to come back online.
    </div>
    <form class="clearfix" method="POST" action="{{ url_for('default.reboot') }}">
        <fieldset>
            <div class="span4">
                <a href="{{ url_for('default.status') }}" class="btn btn-block btn-large">No, Go Back</a>
            </div>
            <br /><br />
            <div class="span4">
                <button type="submit" class="btn btn-block btn-large btn-danger" name="reboot" value="1">Yes, Reboot Now</button>
            </div>
        </fieldset>
    </form>
    
{%- endblock -%}