{%- extends "layouts/default.html" -%}
{%- block content -%}
<h2>Sign up</h2>
<form method="POST" action="" class="form-vertical">
    {{ form.hidden_tag() }}
    <fieldset>
        <div class="">
            {% for field in form if not (field.type == 'HiddenField' or field.type == 'CSRFTokenField')%}
                <div class="control-group {{ 'error' if field.errors else '' }}">
                    <div class="controls">
                        {{ field(placeholder=field.name.capitalize(), class='input-large', id=field.name) }}
                        {% if field.errors %}
                        <span class="help-inline">
                            {% for error in field.errors %}
                            {{ error }}
                            {% endfor %}
                            <span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            {%- if next -%}
                <input type='hidden' name='next' value='{{ next }}' />
            {%- endif -%}
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Sign up</i></button>
        </div>
    </fieldset>
</form>
<script type='text/javascript'>
    $(document).on('ready', function() {
        $('#email').focus();
    });
</script>
{%- endblock -%}