{%- extends "layouts/default.html" -%}

{%- block title -%}
    Status
{%- endblock -%}

{%- block pane_title -%}
    <h1>Device Status</h1>
{%- endblock -%}

{%- block content -%}
    <div>
        <h2>IP Address</h2>
        <p>The IP address of this device is 192.168.1.10</p>
    </div>
    <div>
        <h2>SD Card Space</h2>
        <div class="progress progress-info">
            <div class="bar" style="width: {{ system_status_service.hdd_percent_consumed }};"></div>
        </div>
        <div class="system-output">
            Used: {{ (system_status_service.hdd_used / 1024) | format_number("{:,.2f}") }} MB
            ({{ system_status_service.hdd_percent_consumed }})
            <br />
            Free: {{ (system_status_service.hdd_free / 1024) | format_number("{:,.2f}") }} MB
            <br />
            Total: {{ (system_status_service.hdd_total / 1024 / 1024) | format_number("{:,.3f}") }} GB
        </div>
    </div>
    <div>
        <h2>Memory</h2>
        <div class="progress progress-warning">
            <div class="bar" style="width: {{ (system_status_service.mem_used / system_status_service.mem_total * 100) }}%;"></div>
        </div>
        <div class="system-output">
            Used: {{ (system_status_service.mem_used / 1024) | format_number("{:,.3f}") }} MB
            ({{ (system_status_service.mem_used / system_status_service.mem_total * 100) | format_number("{:,.1f}") }}%)
            <br />
            Free: {{ (system_status_service.mem_free / 1024) | format_number("{:,.3f}") }} MB
            <br />
            Total: {{ (system_status_service.mem_total / 1024) | format_number("{:,.3f}") }} MB
        </div>
    </div>
{%- endblock -%}